* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: normal;
}

h1 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-family: papyrus;
  font-weight: normal;
  text-align: center;
  margin: 15px;
}

.header-image {
  width: 300px;
  height: auto;
  margin: 30px auto;
  float: right;
  position: absolute;
  left: 46%;
  top: 15%
}

.descr-index {
  width: 350px;
  height: auto;
  position: absolute;
  left: 45%;
  top: 24%;
  font-size: 20px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  height: 90px;
  margin: 5px;
  display: inline-block;
  line-height: 45px;
  text-align: center;
  padding-top: 300px;
  padding-right: 300px;
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgb(56, 3, 38);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow-y: auto;
}

.mainmenu {
  width: 350px;
  height: auto;
  position: absolute;
  top: 17%;
}

.mainmenu a {
  width: 300px;
  text-decoration: none;
  font-size: 26px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  height: 90px;
  margin: 5px;
  display: inline-block;
  background-color: rgb(138, 109, 134);
  line-height: 90px;
  text-align: center;
  transition: 300ms;
}

.mainmenu a:hover {
  background-color: white;
  color:  rgb(86, 48, 87);
  width: 100%;
}
