* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke
}

.background {
  width: 100%;
  height: 100%;
  background-color: rgb(56, 3, 38);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow-y: auto;
}

nav {
  margin: 0;
}

header {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
}

main {
  padding-left: 30px;
}

footer {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  font-family: papyrus;
  margin: 15px;
}

h2 {
  padding: 10px;
  padding-left: 5px;
  margin: 5;
  color: whitesmoke;
  font-weight: bold;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.menu-pages {
  flex: 1;
  display:flex;
  justify-content: space-between;
  padding-right: 10px;
  font-weight: bold;
}

.menu-page {
  margin: 5px;
  text-align: center;
}

.contact-info {
  display:flex;
  justify-content: space-between;
  padding-right: 10px;
  font-weight: lighter;
}

.means-of-contact, .divider{
  font-weight: bold;
}

.contact {
  font-weight: lighter;
  color: rgb(215, 212, 212);
}

.bio {
  font-size: 22px;
  padding-left: 400px;
  padding-right: 75px;
  color: whitesmoke;
  float: left;
  text-align: center;
  margin: 24px auto;
}

.bio2 {
  font-size: 22px;
  padding-left: 400px;
  padding-right: 75px;
  margin-top: 0;
  color: whitesmoke;
  float: left;
  text-align: center;
  margin: 5px auto;
}

.bio-photo {
  width: 25%;
  height: auto;
  margin: auto;
  float: right;
  position: absolute;
  left: 3%;
  top: 20%
}

.fave-things-box {
  margin-top: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 2fr 2fr 2fr 2fr;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgb(138, 109, 134);
  border-radius: 5%;
}

.video-games {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.piano {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.painting {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.hiking {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.sloths{
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.icon {
  width: 250px;
  margin: 5px auto;
  display: block;
  padding: 3px 0;
}

.thing {
  margin: 15px;
  padding: 5px;
  background-color:rgb(78, 35, 80); 
  border-radius: 25px;
  text-align: center;
}

.project {
  font-size: 20px;
  padding-bottom: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.note {
  margin: 150px;
  text-align: center;
}

.hobby {
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin: 15px;
}

.top10 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40px;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
}

.list {
  list-style: none;
  font-size: 30px;
  padding-left: 150px;
  padding-right: 150px;
}

#footer-text {
  position: static;;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  color:#999;
}

.sub-text {
  text-align: center;
  padding: 20px;
}

.region {
  font-size: 25px;
  list-style: none;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 15px;
  padding-bottom: 10px;
}

.book {
  font-size: 25px;
  padding-left: 200px;
  padding-right: 150px;
}

li {
  padding: 5px;
}