* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  color: whitesmoke
}

.background {
  width: 100%;
  height: 100%;
  background-image: url(../images/IMG_0001.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  overflow-y: auto;
}

nav {
  margin: 0;
}

header {
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 30px;
}

main {
  padding-left: 30px;
}

footer {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 30px;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  background-color: rgba(255, 247, 0, 0.639);
}

h2 {
  padding: 5px 0;
  margin: 0;
  color: whitesmoke;
  font-weight: bold;
}

.menu-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.menu-pages {
  flex: 1;
  display:flex;
  justify-content: space-between;
  padding-right: 10px;
  font-weight: bold;
}

.menu-page {
  margin: 5px;
  text-align: center;
}

.contact-info {
  display:flex;
  justify-content: space-between;
  padding-right: 10px;
  font-weight: lighter;
}

.means-of-contact, .divider{
  font-weight: bold;
}

.contact {
  font-weight: lighter;
  color: rgb(215, 212, 212);
}

.bio-box {
  display: grid;
  grid-template: 1fr 3fr/ 1fr 3fr;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.bio {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  font-size: 20px;
  padding-left: 20px;
  margin-top: 0;
  color: whitesmoke;
}

.bio-photo {
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  margin-left: auto;
  width: 300px;
  border-radius: 10%;
}

.fave-things-box {
  margin-top: 10px;
  display: grid;
  grid-template: 1fr 1fr 1fr / 2fr 2fr 2fr 2fr;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}

.video-games {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.piano {
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
}

.painting {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
}

.hiking {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.sloths{
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.icon {
  width: 250px;
  margin: 0 auto;
  display: block;
  padding: 3px 0;
}

.thing {
  margin: 15px;
  padding: 5px;
  background-color:rgb(247, 136, 17);
  border-radius: 25px;

}